.navbar-brand{
    font-size: 5em;
}
.init-nav{
    background-color: rgb(56, 64, 213);
}
.menu-btn{
    border: none;
}
.hero{
    background-image: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,0.7)), url("./housesR.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    height:75vh;
}
.home-sec{
    position:relative;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
}